{% extends "base.html" %}

{% block title %}Excluir Rota{% endblock title %}

{% block content %}

<header class="bg-primary bg-gradient text-white">
    <div class="container">
            <h1>Rotas</h1>
    </div>
</header>

<section id="Voos">
    <div class="container" style="margin-top:25px">
        <table class="table">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Companhia aérea</th>
            <th scope="col">Origem</th>
            <th scope="col">Aeroporto de Destino</th>
            <th scope="col">Destino</th>
            <th scope="col">Aeroporto de destino</th>
            <th scope="col">Partida Prevista</th>
            <th scope="col">Chegada Prevista</th>
          </tr>
        </thead>
        <tbody>
            {% for rota in object_list %}
                <tr>
                    <td><a href="{% url 'confirmar-excluir-rota' rota.id %}">{{ rota.codigo }}</a></td>
                    <td>{{ rota.companhia_aerea }}</td>
                    <td>{{ rota.origem }}</td>
                    <td>{{ rota.aeroporto_partida }}</td>
                    <td>{{ rota.destino }}</td>
                    <td>{{ rota.aeroporto_chegada }}</td>
                    <td>{{ rota.hora_partida_prevista }}</td>
                    <td>{{ rota.hora_chegada_prevista }}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</section>


{% endblock %}