{% extends "base.html" %}

{% block title %}Excluir Voo{% endblock title %}

{% block content %}
    <form method="post">{% csrf_token %}
        <p>Tem certeza que quer excluir o voo "{{ object.id }}"?</p>
        <div>
            <input type="submit" value="Confirmar">
            <a href="/crud/excluir-voo"> Voltar  </a>
        </div>
    </form>

<!-- Footer-->
<footer class="py-5 bg-dark fixed-bottom">
    <div class="container px-4"><p class="m-0 text-center text-white">MonitoraVoos</p></div>
</footer>

{% endblock %}
